<h1>Welcome to Barber shop</h1>

<form class="" action="/" method="POST">

  Your name: <br/>
  <input type="text" name="user_name"><br/>
  You phone: <br/>
  <input type="text" name="phone"><br/>
  Date and time: <br/>
  <input type="text" name="date_time"><br/>

  <input type="submit">
</form>
